BasedOnStyle: Google  # Or Google if preferred
Standard: Latest
IndentWidth: 4      # 4 spaces for indentation like Go and Python
TabWidth: 4         # Tabs are 4 spaces wide
UseTab: Never       # Always use spaces (Go and Python don't use tabs)
#BreakBeforeBraces: Attach  # Keep opening braces on the same line, similar to Go's curly braces style
#AllowShortIfStatementsOnASingleLine: true  # Optional: allows short `if` statements to remain on one line
#ColumnLimit: 130    # Wider limit, Python doesn't have strict line limits, and Go uses around 100 chars
ColumnLimit: 120
SortIncludes: Never
NamespaceIndentation: All