//
// Created by jieggii on 2.2.2025.
//

#ifndef SECRETS_H
#define SECRETS_H

namespace secrets {
    namespace wifi {
        constexpr char ssid[] = "your-wifi-ssid";
        constexpr char password[] = "your-wifi-password";
    }  // namespace wifi

    namespace blynk {
        constexpr char authToken[] = "your-blynk-auth-token";
    }  // namespace blynk
}

#endif //SECRETS_H
